#wat-wij-doen.bg.about
  .container
    .row.marg75
      .col-lg-12
        %h2.promo.purple
          Wij geven
          %b 5
          keer
          %b 50%
          korting weg !
    .row
      .col-lg-12.col-md-12.marg50
        %section
          .flexslider
            %ul.slides
              %li
                .col-lg-6.col-md-6.marg50
                  = image_tag "showcase_abr.png", draggable: false
                .col-lg-6.col-md-6.marg50
                  .about-block
                    .about-name Wij zijn op zoek naar nieuwe uitdagingen.
                    .about-text
                      Hallo wereld, wij zijn Cyte ™ Een nieuw en vernieuwend bureau, op zoek naar uitdagingen voor het ontwikkelen van website's, applicaties, marketing en digitale vaardigheden.
                      %br/
                      %br/
                      Wij bieden een totaal pakket aan innovatieve oplossingen voor:
                    .row
                      .col-md-12.list
                        %br/
                        %i.icon-check
                        Websites, webshops
                        %br/
                        %i.icon-check
                        Ontwerp en Design
                        %br/
                        %i.icon-check
                        Apps, Applicaties en Services
                        %br/
                        %i.icon-check
                        3D Tekenen en Animatie
                        %br/
                        %i.icon-check
                        Marketing Communicatie
                        %br/
                        %i.icon-check
                        Foto, Video en audio                        
                    .about-text
                      %b.special Heeft 
                      u een uitdagend uniek idee voor een website of nieuw concept ? 
                      %br
                      Dan nemen wij uw project in onze portfolio en geven wij u
                      %b.special 50% 
                      korting.
                      %br
                      Dit geld voor de eerste 
                      %b.special 5 
                      uitdagende concepten.
                      %br/     
                      %br/  
              %li
                .col-lg-6.col-md-6.marg50
                  = image_tag "showcase_link.png", draggable: false
                .col-lg-6.col-md-6.marg50
                  .about-block
                    .about-name Wij zijn op zoek naar nieuwe uitdagingen.
                    .about-text
                      Hallo wereld, wij zijn Cyte ™ Een nieuw en vernieuwend bureau, op zoek naar uitdagingen voor het ontwikkelen van website's, applicaties, marketing en digitale vaardigheden.
                      %br/
                      %br/
                      Wij bieden een totaal pakket aan innovatieve oplossingen voor:
                    .row
                      .col-md-12.list
                        %br/
                        %i.icon-check
                        Websites, webshops
                        %br/
                        %i.icon-check
                        Ontwerp en Design
                        %br/
                        %i.icon-check
                        Apps, Applicaties en Services
                        %br/
                        %i.icon-check
                        3D Tekenen en Animatie
                        %br/
                        %i.icon-check
                        Marketing Communicatie
                        %br/
                        %i.icon-check
                        Foto, Video en audio                        
                    .about-text
                      %b.special Heeft 
                      u een uitdagend uniek idee voor een website of nieuw concept ? 
                      %br
                      Dan nemen wij uw project in onze portfolio en geven wij u
                      %b.special 50% 
                      korting.
                      %br
                      Dit geld voor de eerste 
                      %b.special 5 
                      uitdagende concepten.
                      %br/     
                      %br/  
              %li
                .col-lg-6.col-md-6.marg50
                  = image_tag "showcase_panorama.png", draggable: false
                .col-lg-6.col-md-6.marg50
                  .about-block
                    .about-name Wij zijn op zoek naar nieuwe uitdagingen.
                    .about-text
                      Hallo wereld, wij zijn Cyte ™ Een nieuw en vernieuwend bureau, op zoek naar uitdagingen voor het ontwikkelen van website's, applicaties, marketing en digitale vaardigheden.
                      %br/
                      %br/
                      Wij bieden een totaal pakket aan innovatieve oplossingen voor:
                    .row
                      .col-md-12.list
                        %br/
                        %i.icon-check
                        Websites, webshops
                        %br/
                        %i.icon-check
                        Ontwerp en Design
                        %br/
                        %i.icon-check
                        Apps, Applicaties en Services
                        %br/
                        %i.icon-check
                        3D Tekenen en Animatie
                        %br/
                        %i.icon-check
                        Marketing Communicatie
                        %br/
                        %i.icon-check
                        Foto, Video en audio                        
                    .about-text
                      %b.special Heeft 
                      u een uitdagend uniek idee voor een website of nieuw concept ? 
                      %br
                      Dan nemen wij uw project in onze portfolio en geven wij u
                      %b.special 50% 
                      korting.
                      %br
                      Dit geld voor de eerste 
                      %b.special 5 
                      uitdagende concepten.
                      %br/     
                      %br/  

