#wat-wij-doen.bg.about
  .container
    .row.marg75
      .col-lg-12
        %h2.promo
          Ruby on Rails Webdevelopment
        %h3.promo-p Webshop, Vergelijkingsite, Datingsite, Online-software, SaaS, Rails-applicatie, Ticketing, Marketing, en meer.. 
    .row
      .col-lg-12.col-md-12.marg50
        %section
          .flexslider
            %ul.slides
              %li
                .col-lg-6.col-md-6.marg50
                  = image_tag "showcase_abr.png", draggable: false
                .col-lg-6.col-md-6.marg50
                  .about-block
                    .about-name Wij gaan de uitdaging aan!
                    .about-text
                      Wij maaken een prachtige dynamische webapplicatie voor een autobedrijf welke gekoppeld is aan geautomatiseerd voorraadsysteem. 
                      %br/
                    .row
                      .col-md-12.list
                        %br/
                        %i.icon-check
                        Webapplicatie gekoppeld aan voorraadbeheer
                        %br
                        %i.icon-check
                        RDW en handelskoppeling volledig automatisch
                        %br/
                        %i.icon-check
                        Full-responsive design
                        %br/
                        %i.icon-check
                        Compacte eigen CMS
                        %br/
                        %i.icon-check
                        Marketing implementaties
                        %br/
                    .about-text
                      De eerste
                      %b.special 5
                      uitdagende concepten belonen wij met
                      %b 25%
                      korting                      

              %li
                .col-lg-6.col-md-6.marg50
                  = image_tag "showcase_link.png", draggable: false
                .col-lg-6.col-md-6.marg50
                  .about-block
                    .about-name Maatwerk Ruby-on-Rails applicatie
                    .about-text
                      Een zoek en vergelijk modulle voor diverse SEO systemen, gekoppeld aan lead generator en marketing modulle. 
                      %br/
                      Dit project is momenteel vol in ontwikkeling.
                    .row
                      .col-md-12.list
                        %br/
                        %i.icon-check
                        Dynamische applicatie
                        %br/
                        %i.icon-check
                        Big-Data analyse
                        %br/
                        %i.icon-check
                        Reseller mogelijkheid
                        %br/
                        %i.icon-check
                        Volledig responsive opgebouwd
                        %br/
                        %i.icon-check
                        Marketing Communicatie
                        %br/
                    .about-text
                      Heeft u een ook
                      %b.special uitdagend 
                      uniek 
                      idee voor een webapplicatie?
                      %br
                      
                      %br/
              %li
                .col-lg-6.col-md-6.marg50
                  = image_tag "showcase_panorama.png", draggable: false
                .col-lg-6.col-md-6.marg50
                  .about-block
                    .about-name Ruby Vergelijkings Webbapplicatie 
                    .about-text
                      Prijsvergelijkingssite voor fotografie gerelateerde producten en diensten. Uniek CMS met volledige foto en video gallerij voor zoekmachine inplementatie.                      
                      %br/
                      %br/
                      Unieke marketing strategie
                    .row
                      .col-md-12.list
                        %br/
                        %i.icon-check
                        Full responsive design
                        %br/
                        %i.icon-check
                        Uniek marketing concept
                        %br/
                        %i.icon-check
                        Interactieve dynamische gallerij
                        %br/
                        %i.icon-check
                        Ruby-on-Rails project
                        %br/
                        %i.icon-check
                        Foto en Video integratie
                    .about-text
                      Als u meer wilt weten over dit
                      %b.special project 
                      of wat wij voor u kunnen betekenen?
                      Neem dan vrijblijvend contact met ons op!
                      %br/
                      %br/

