.parallax-1
  .parallax-over-1
    .container
      .row
        .col-lg-12
          %h3.prlx-1-text Wij werken aan de toekomst van weboplossingen
          %h2.prlx-1-promo Heeft u een uitdaging voor ons?
          .prlx-1-button
            = link_to raw("<i class='fa fa-coffee'></i> Maak een koffieafspraak"), "#neem-contact-op", id: "scroll"