.pricing-tables-bg
  .container
    .row.marg75
      .col-lg-12
        %h2.promo Beknopt prijzen overzicht
        %h3.promo-p * Vraag een offerte aan voor de goedkoopste website, of één van onze andere mogelijkheden.
    .row.slider
      %div
        .col-sm-6.col-xs-6.col-ms-12.marg50.col-md-6.col-lg-6
          .pricing-table
            .price-name
              €
              %b 75
              %br/
              %span excl. btw / uur
            .price-bg
              .price-bg-name Maatwerk
              %ul
                %li Webapps
                %li Ontwerp
                %li Marketing
                %li
                  %b Gratis advies
              .price-bg-button
                = link_to "meer weten", "#neem-contact-op", id: "scroll"
        .col-sm-6.col-xs-6.col-ms-12.marg50.col-lg-6.col-md-6
          .pricing-table.feature
            .price-name
              %b 25%
              %br/
              %span korting
            .price-bg
              .price-bg-name Promotie
              %ul
                %li Webapps
                %li Intelligente online applicaties
                %li Unieke uitdagingen
                %li
                  %b Maximaal 5 projecten
              .price-bg-button
                = link_to "meer weten", "#neem-contact-op", id: "scroll"

      %i.fa.fa-arrows-h.mobile
