.pricing-tables-bg
  .container
    .row.marg75
      .col-lg-12
        %h2.promo Beknopt prijzen overzicht
        %h3.promo-p * vraag een offerte aan voor de goedkoopste website, of één van onze andere mogelijkheden.
    .row.slider
      %div
        .col-sm-6.col-xs-6.col-ms-12.marg50.col-md-4.col-lg-4
          .pricing-table
            .price-name
              €
              %b 55
              %br/
              %span excl. btw / uur
            .price-bg
              .price-bg-name Maatwerk
              %ul
                %li Websites
                %li Applicaties
                %li Ontwerp
                %li Marketing
                %li 
                  %b gratis advies
              .price-bg-button
                = link_to "meer weten", "#neem-contact-op", id: "scroll"
        .col-sm-6.col-xs-6.col-ms-12.marg50.col-lg-4.col-md-4
          .pricing-table.feature
            .price-name
              %b 50%
              %br/
              %span korting
            .price-bg
              .price-bg-name Promotie
              %ul
                %li Websites
                %li Applicaties
                %li Portfoliowerk
                %li Unieke uitdagingen
                %li 
                  %b maximaal 5 projecten
              .price-bg-button
                = link_to "meer weten", "#neem-contact-op", id: "scroll"
        .col-sm-6.col-xs-6.col-ms-12.marg50.col-md-4.col-lg-4
          .pricing-table
            .price-name
              €
              %b 250
              %br/
              %span DHZ pakket
            .price-bg
              .price-bg-name Actieprijs
              %ul
                %li incl. CMS, domeinnaam
                %li Website ontwerp
                %li 3-5 pagina's
                %li vanaf prijs
                %li 
                  %b in 48 uur online *
              .price-bg-button
                = link_to "meer weten", "#neem-contact-op", id: "scroll"
      %i.fa.fa-arrows-h.mobile