.pricing-tables-bg
  .container
    .row.marg75
      .col-lg-12
        .promo Kostenoverzicht
        .promo-p * vraag naar de mogelijkheden
    .row
      .col-sm-6.col-xs-6.col-ms-12.marg50.col-md-4.col-lg-4
        .pricing-table
          .price-name
            €
            %b 55
            %br/
            %span uur
          .price-bg
            .price-bg-name Maatwerk
            %ul
              %li Websites
              %li Applicaties
              %li Ontwerp
              %li 3D tekenen
              %li Marketing
            .price-bg-button
              = link_to "meer weten", "#neem-contact-op", id: "scroll"
      .col-sm-6.col-xs-6.col-ms-12.marg50.col-lg-4.col-md-4
        .pricing-table.feature
          .price-name
            %b 50%
            %br/
            %span korting
          .price-bg
            .price-bg-name Promotie
            %ul
              %li Website
              %li Applicatie
              %li Ontwerp
              %li Marketing
              %li 3D Werk
            .price-bg-button
              = link_to "meer weten", "#neem-contact-op", id: "scroll"
      .col-sm-6.col-xs-6.col-ms-12.marg50.col-md-4.col-lg-4
        .pricing-table
          .price-name
            €
            %b 250
            %br/
            %span vanaf
          .price-bg
            .price-bg-name Actieprijs
            %ul
              %li incl. CMS
              %li Website ontwerp
              %li 5 pagina's
              %li Binnen 48 uur
              %li * Vanaf prijs
            .price-bg-button
              = link_to "meer weten", "#neem-contact-op", id: "scroll"