.serv-bg.service
  .container
    .row.marg75
      .col-lg-12
        .promo 
          speerpunten waar U op kunt bouwen
        .promo-p Tevens werken wij binnen een breed netwerk van free-lancers
    .row.marg50
      .col-lg-12
        .serv-3.serv-6.serv-12
          .serv-block.sb1
            .serv-icon.s1
              %i.icon-rocket
            .serv-name Perfecte Lancering
            .serv-desc Cyte ™ websites gelanceerd met open source cms zijn al mogelijk in slechts 48 uur. Zoekmachine vriendelijk!
        .serv-3.serv-6.serv-12
          .serv-block.sb3
            .serv-icon.s3
              %i.icon-diamond
            .serv-name Fantastisch design
            .serv-desc Functionaliteit ontwerp, en layout enkele van onze sterkte speerpunten. Een website is meer dan informatie.
        .serv-3.serv-6.serv-12
          .serv-block.sb2
            .serv-icon.s2
              %i.icon-speedometer
            .serv-name Top Prestaties
            .serv-desc Snelheid en efficientie voor uw bezoeker, ook bij grote projecten zoeken naar snelheid en optimalisatie.
        .serv-3.serv-6.serv-12
          .serv-block.sb4
            .serv-icon.s4
              %i.icon-bubbles
            .serv-name Communicatie
            .serv-desc Onze klanten genieten van gratis advies van hun eigen persoonlijke adviseur. Wij bieden 24-7 support. 