.serv-bg.service
  .container
    .row.marg75
      .col-lg-12
        .promo Enkele mogelijkheden
        .promo-p Tevens werken wij binnen een breed netwerk van free-lancers
    .row.marg50
      .col-lg-12
        .serv-3.serv-6.serv-12
          .serv-block.sb1
            .serv-icon.s1
              %i.icon-rocket
            .serv-name Snel Online
            .serv-desc oplevering mogelijk in 48 uur, zelfs met de hoogste eisen voor zoekmachine vindbaarheid en optimalisatie.
        .serv-3.serv-6.serv-12
          .serv-block.sb3
            .serv-icon.s3
              %i.icon-diamond
            .serv-name Fantastisch design
            .serv-desc Ontwerp, layout en functionaliteit zijn de belangrijkste speerpunten voor een nieuwe website.
        .serv-3.serv-6.serv-12
          .serv-block.sb2
            .serv-icon.s2
              %i.icon-speedometer
            .serv-name Prestaties
            .serv-desc Snelheid en efficientie, ook bij grote projecten zoeken wij naar snelheid en optimalisatie voor uw oplossing.
        .serv-3.serv-6.serv-12
          .serv-block.sb4
            .serv-icon.s4
              %i.icon-screen-tablet
            .serv-name Responsive
            .serv-desc Websites die op zowel uw tablet als uw telefoon er even goed uitzien is een must voor uw bezoeker!