.bg.about
  .container
    .row.marg75
      .col-lg-12
        .promo Het team van Cyte.nl
        .promo-p en wat we leuk vinden
    .row.slider
      %div
        .col-lg-6.col-md-6.col-sm-12.marg65
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.col-ms-12
              .team-img
                = image_tag "team1.jpg"
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.col-ms-12
              .team-name Maurice
              .team-desc Production director
              .team-text Onze goedlachse duizendpoot. Na Directeur in ICT hardware de overstap gemaakt in Software ontwikkeling en webdevelopment. Koffie zonder suiker met een vleugje koesap.
              %ul.team-soc
                %li.twitter
                  %a{href: "#"}
                    %i.fa.fa-twitter
                %li.facebook
                  %a{href: "#"}
                    %i.fa.fa-facebook
                %li.google-plus
                  %a{href: "#"}
                    %i.fa.fa-google-plus
                %li.linkedin
                  %a{href: "#"}
                    %i.fa.fa-linkedin
        .col-lg-6.col-md-6.col-sm-12.marg65
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.col-ms-12
              .team-img
                = image_tag "team2.jpg"
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.col-ms-12
              .team-name Dirk Theo
              .team-desc Founder
              .team-text
                Marketing, verkoop, strateeg ontwikkelaar en manusje van alles. 3D tekenaar, designer, en gek op nieuwe projecten uitdokteren. Espresso met vleugje melk (Cortado).
              %ul.team-soc
                %li.twitter
                  %a{href: "#"}
                    %i.fa.fa-twitter
                %li.facebook
                  %a{href: "#"}
                    %i.fa.fa-facebook
                %li.google-plus
                  %a{href: "#"}
                    %i.fa.fa-google-plus
                %li.linkedin
                  %a{href: "#"}
                    %i.fa.fa-linkedin
        .col-lg-6.col-md-6.col-sm-12.marg65
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.col-ms-12
              .team-img
                = image_tag "team3.jpg"
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.col-ms-12
              .team-name Free L
              .team-desc Freelancers
              .team-text Wij maken dankbaar gebruik van een breed netwerk aan freelancers die onze kennis en vaardigheden aanvullen zodat wij U altijd de beste oplossing kunnen aanbieden voor elk project.
              %ul.team-soc
                %li.twitter
                  %a{href: "#neem-contact-op"}
                    %i.fa.fa-twitter
                %li.facebook
                  %a{href: "#neem-contact-op"}
                    %i.fa.fa-facebook
                %li.google-plus
                  %a{href: "#neem-contact-op"}
                    %i.fa.fa-google-plus
                %li.linkedin
                  %a{href: "#neem-contact-op"}
                    %i.fa.fa-linkedin
        .col-lg-6.col-md-6.col-sm-12.marg65
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.col-ms-12
              .team-img
                = image_tag "team4.jpg"
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.col-ms-12
              .team-name Vacature
              .team-desc Programmeur / designer
              .team-text
                Ter versterking van ons team zoeken wij een superheld, een vrij denkende programmeur of designer die zin heeft aan een uitdaging. 
              %ul.team-soc
                %li.twitter
                  %a{href: "#neem-contact-op"}
                    %i.fa.fa-twitter
                %li.facebook
                  %a{href: "#neem-contact-op"}
                    %i.fa.fa-facebook
                %li.google-plus
                  %a{href: "#neem-contact-op"}
                    %i.fa.fa-google-plus
                %li.linkedin
                  %a{href: "#neem-contact-op"}
                    %i.fa.fa-linkedin
      %i.fa.fa-arrows-h.mobile
    .row.marg75
      .col-lg-12
        .promo-mini Cyte ™ en websites in cijfers
    .row.marg50
      .col-lg-6.col-md-6.col-sm-6
        .progress-per
          .prog-name Beter vindbaar in de zoekmachines
          .prog-per 85%
        .progress
          .progress-bar.progress-bar-green{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "85", role: "progressbar", style: "width: 85%"}
      .col-lg-6.col-md-6.col-sm-6
        .progress-per
          .prog-name Klanttevredenheid
          .prog-per 100%
        .progress
          .progress-bar.progress-bar-red{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: 100%"}
      .col-lg-6.col-md-6.col-sm-6
        .progress-per
          .prog-name Capaciteit en resources benut
          .prog-per 63%
        .progress
          .progress-bar.progress-bar-orange{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "63", role: "progressbar", style: "width: 63%"}
      .col-lg-6.col-md-6.col-sm-6
        .progress-per
          .prog-name Open Source Software
          .prog-per 50%
        .progress
          .progress-bar.progress-bar-blue{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", role: "progressbar", style: "width: 50%"}