#prijzen-en-klanten.bg-image-2
  .container
    .row.marg75
      .col-lg-12
        .promo-white 
          website van Cyte ™
        .promo-p-white.bg-white-2 Quotes, recencies en website weetjes
    .row.marg25
      .col-lg-12
        .testimonials
          #carousel-testimonials.carousel.slide
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carousel-testimonials"}
              %li{"data-slide-to" => "1", "data-target" => "#carousel-testimonials"}
              %li{"data-slide-to" => "2", "data-target" => "#carousel-testimonials"}
            .carousel-inner
              .item.active
                %p.testimonial-quote 
                  Resultaat is een product van kennis met de som van inzet.
                %p.testimonial-author 
                  Dirk Theo / CEO Founder

              .item
                %p.testimonial-quote
                  Hou je kop
                %p.testimonial-author Maurice / Developer
              .item
                %p.testimonial-quote
.bg-client
  .container
    .row.marg50
      .col-lg-12