#prijzen-en-klanten.bg-image-2
  .container
    .row.marg75
      .col-lg-12
        .promo-white Wat we leuk vinden
        .promo-p-white.bg-white-2 en dankbaar leren te beheersen
    .row.marg25
      .col-lg-12
        .testimonials
          #carousel-testimonials.carousel.slide
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carousel-testimonials"}
              %li{"data-slide-to" => "1", "data-target" => "#carousel-testimonials"}
              %li{"data-slide-to" => "2", "data-target" => "#carousel-testimonials"}
            .carousel-inner
              .item.active
                %p.testimonial-quote Een goeie basis voor elke website is de juiste applicatie en software te kiezen voor het maken en realiseren van de website zoals de klant deze in gedachte heeft..
                %p.testimonial-author Dirk Theo / CEO Founder
              .item
                %p.testimonial-quote
                  Duis nec neque bibendum, mollis arcu eget, lacinia sem. Sed nec purus a metus facilisis mollis. Vivamus sollicitudin id sem a blandit. Donec ut imperdiet arcu. Curabitur rhoncus dolor imperdiet facilisis mattis. Aenean
                  dolor tortor, adipiscing vitae leo faucibus, consectetur imperdiet augue.
                %p.testimonial-author Egor Dankov / Front-end of Company
              .item
                %p.testimonial-quote
                  Sollicitudin proin sagittis turpis nisi, sit amet bibendum odio faucibus at. Nunc facilisis ipsum quis fermentum auctor. Curabitur felis lorem, aliquam quis ornare et, luctus a sapien nunc. Phasellus vitae ultrices
                  lectus, eget posuere est. In non mi ipsum.
                %p.testimonial-author Gustav Holtz / Developer of Company
.bg-client
  .container
    .row.marg50
      .col-lg-12