#prijzen-en-klanten.bg-image-2
  .bg-image-over-2
    .container
      .row.marg75
        .col-lg-12
          %h2.promo-white
            Waarom railsapp.nl 
      .row.marg25
        .col-lg-12
          .testimonials
            #carousel-testimonials.carousel.slide
              %ol.carousel-indicators
                %li.active{"data-slide-to" => "0", "data-target" => "#carousel-testimonials"}
                %li{"data-slide-to" => "1", "data-target" => "#carousel-testimonials"}
                %li{"data-slide-to" => "2", "data-target" => "#carousel-testimonials"}
              .carousel-inner
                .item.active
                  %p.testimonial-quote
                    Resultaat is een product van kennis met de som van inzet.
                  %p.testimonial-author
                    Dirk Theo / Founder

                .item
                  %p.testimonial-quote
                    Na jaren van hardware engineering ben ik mij gaan storten op de ontwikkeling van software en webapplicaties, dit is mijn passie.
                  %p.testimonial-author Maurice / Production Director
                .item
                  %p.testimonial-quote
                    %br
                    Like ons op Facebook!
                    %i.icon-like

