.top.container-fluid
  #background{style: "opacity: 0.5;"}
  #midground
  #foreground
  .container
    .row
      .promo Hallo Wereld, hier is Cyte ™
      .promo-p.col-lg-6.col-lg-offset-3.col-md-offset-2.col-md-8 internetbureau voor webdesign, applicaties, ontwerp, realisatie, webdevelopment en marketing