.top.container-fluid
  .container.home
    .row
      %h1.promo Wij zijn RailsApp
      %h3.promo-p.col-lg-8.col-lg-offset-2.col-md-offset-1.col-md-8
        innovatief bureau in Ruby on Rails webapplicaties.
