.top.container-fluid
  #background
  #midground
  #foreground
  .container.home
    .row
      %h1.promo Hallo Wereld, welkom Cyte ™
      %h3.promo-p.col-lg-6.col-lg-offset-3.col-md-offset-2.col-md-8 innovatief bureau voor webdesign, applicaties, ontwerp, development en marketing