.starter-template {
  padding: 40px 15px;
  text-align: center;
}
@media (min-width: 768px) {
  .navbar-cyte {
    border: none;
    height: 130px;
    background-color: transparent;
    transition: all 500ms ease;
  }
  .navbar-cyte img {
    width: 120px;
  }
  .nav li a {
    line-height: 85px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: -2px;
    transition: all 500ms ease;
  }
  .nav li.active,
  .nav li a:hover {
    background-color: transparent;
    transition: none !important;
  }
  .nav li.active:hover {
    border: none;
  }
  header.shrink {
    background-color: #d2105d;
    overflow: hidden;
    height: 100px;
  }
  header.shrink li a {
    line-height: 72px;
    color: #FFF;
  }
  header.shrink img {
    width: 117px;
    margin-top: -74px;
  }
}

.top {
  padding-top: 165px;
  padding-bottom: 50px;
  color: #fff;
  position: relative;
  overflow: hidden;
  text-align: center;
  min-height: 300px;
  background-color: #000;
  background: url(bg1.jpg);
  text-shadow: 2px 2px #000000;
}
.navbar-nav {
  float: right;
}
body {
  font-family: 'Open Sans', Arial, Tahoma, Verdana, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}
.navbar-toggle {
  background-color: #D4025C;
  margin: 50px 25px;
}
.navbar-toggle span {
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-cyte {
    background-color: #d2105d;
  }
  .navbar-cyte .navbar-brand img {
    width: 100px;
  }
  .nav {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .nav li a {
    color: #FFF;
    border-radius: 5px;
  }
  .nav li a:hover {
    color: #FFF;
    background-color: #D4025C;
  }
}
.top .promo,
.top .promo-p {
  color: #FFF;
}
@media (min-width: 768px) {
  .header {
    margin-top: 130px;
    width: 100%;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .header .navbar-brand {
    margin-top: -122px;
    margin-left: 0 !important;
  }
}
@media (max-width: 1199px) {
  .header .navbar-brand {
    margin-left: 0;
    margin-top: -120px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  header.shrink .navbar-header .navbar-brand {
    margin-left: 0;
    line-height: 135px;
    text-align: left;
  }
  .nav {
    margin-top: -100px;
  }
  header.shrink .nav {
    margin-top: -130px;
  }
}
@media (max-width: 767px) {
  .header .navbar-brand {
    margin-top: 0;
  }
}
.navbar-brand {
  margin-left: 0 !important;
}
h2.prlx-1-promo {
  color: #FFF;
}
.flexslider ul.slides li {
  width: 100%;
  float: left;
  margin-right: -100%;
  position: relative;
  opacity: 0;
  display: block;
  z-index: 1;
}
