.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  padding-left: 1px;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

@media (max-width: 768px) {
	.team-img {
		text-align: center;
		padding-left: 25px;
	}
}